@import './base.css';
@import './styles.css';

#app {
  height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #3498db;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(52, 152, 219, 0.2);
  }
}